.signup{
    margin-top: 8rem;
    box-shadow: 0px 0px 8px gray;
    height: 22rem;
    width: 12rem;
    position: absolute;
    left: 42rem;
    bottom: 2rem;
    padding: 40px 60px;
}
input{
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    border-bottom:1.5px solid #000 ;
    padding: 2px 4px;
    
}
input[type="submit"]{
    background-color: black;
    border-radius: 8px;
    color: #fff;
    padding: 6px;
    margin-top: 1rem;
    margin-right: 1rem;
}
#upimg{
    height: 75vh;
    width: 60vw;
    position: absolute;
    right: 9rem;
    bottom: 1rem;
}
#Icon{
    position: relative;
    bottom: -2rem;
    right: 1rem;
}